# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Specific settings for Rust/Python files
[*.rs]
indent_size = 4

# Specific settings for Rust/Python files
[*.slint]
indent_size = 4

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false
