@use "../abstracts/mixins" as m;
/* Positioning Utilities */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  @include m.centerer;
}
.flex-center-vt {
  display: flex;
  align-items: center;
}
.flex-center-hz {
  display: flex;
  justify-content: center;
}
.col {
  width: 100%;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
