/* Attribution */
.attribution {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 0.5rem;
  font-size: 11px;
  a {
    text-decoration: none;
  }
}
