.btn {
  border: 0;
  font: inherit;
  letter-spacing: 0.02em;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  mix-blend-mode: normal;
  cursor: pointer;
  text-transform: uppercase;
}

