fieldset {
  position: relative;
  // border: 0;
  display: grid;
} 

input[type=radio]{
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

input[type=radio] + label::before {
  content: '';
  background-color: hsl(25, 99%, 27%);
  display: block;
  width: 1em;
  height: 1em;
  // margin-left: -1.5em;
  // margin-top: .15em;
 
  cursor: pointer;
  text-align: center;
  transition: all .1s ease-out;
}

input[type=radio] + label::before {
  border-radius: 100%;
}

input[type=radio]:checked + label::before {
  background-color: #00f; 
}