.keypad {
  height: 55vh;
  padding: 1rem 1rem;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;

  .btn {
    flex: 1 0 20%;
    margin: 2vw;
    height: 8vh;

    &.btn-num,
    &.operator {
      background-color: hsl(30, 25%, 89%);
    }

    &.delete,
    &.reset {
      background-color: hsl(225, 21%, 49%);
      color: white;
      text-transform: uppercase;
    }

    &.equal {
      background-color: hsl(6, 63%, 50%);
      color: white;
    }
  }
}
