$colors: (
  bg: (
    100: hsl(0, 0%, 90%),
    200: hsl(0, 5%, 81%),
    300: hsl(0, 0%, 93%),
    400: hsl(221, 27%, 31%),
    500: hsl(223, 31%, 20%),
    600: hsl(224, 36%, 15%),
    700: hsl(268, 75%, 9%),
    800: hsl(268, 71%, 12%),
  ),
  keys: (
    50: hsl(30, 25%, 89%),
    100: hsl(45, 7%, 89%),
    150: hsl(28, 16%, 65%),
    200: hsl(35, 11%, 61%),
    250: hsl(6, 63%, 50%),
    300: hsl(6, 70%, 34%),
    350: hsl(25, 98%, 40%),
    400: hsl(25, 99%, 27%),
    450: hsl(177, 92%, 70%),
    500: hsl(176, 100%, 44%),
    550: hsl(185, 42%, 37%),
    600: hsl(185, 58%, 25%),
    650: hsl(225, 21%, 49%),
    700: hsl(224, 28%, 35%),
    750: hsl(290, 70%, 36%),
    800: hsl(285, 91%, 52%),
    850: hsl(281, 89%, 26%),
    900: hsl(268, 47%, 21%),
  ),
  text: (
    100: hsl(0, 0%, 100%),
    200: hsl(52, 100%, 62%),
    300: hsl(221, 14%, 31%),
    400: hsl(60, 10%, 19%),
    500: hsl(198, 20%, 13%),
  ),
);
