@use './breakpoints' as *;

//Position Mixins
// Same height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Mixin for Pseudo elements \\
@mixin pseudo(
  $loc: before,
  $content: '',
  $pos: absolute,
  $top: 0,
  $btm: 0,
  $left: 0,
  $right: 0
) {
  position: relative;

  &::#{$loc} {
    content: $content;
    position: $pos;
    top: $top;
    bottom: $btm;
    left: $left;
    right: $right;
    @content;
  }
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//Breakpoints Mixins
@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media only screen and (min-width: $size) {
    @content;
  }
}
// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $size: map-get($breakpoints, $breakpoint);
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $size: map-get($breakpoints, $breakpoint);
    @media (max-width: ($size - 1)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map-has-key($breakpoints, $lower) == false) {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
    @if (map-has-key($breakpoints, $upper) == false) {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }
}

//................................................................\\

//................................................................\\

@mixin hover-lift() {
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(black, 0.2);
  @include pseudo(after) {
    transition: transform 350ms ease-in-out;
    box-shadow: 0 0 1.25em 0 rgba(black, 0.4);
  }
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
