$font-sizes: (
  small: (
    200: 0.8rem,
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.827rem,
    700: 2rem,
  ),
  large: (
    200: 0.8rem,
    300: 1rem,
    400: 1.425rem,
    500: 1.953rem,
    600: 2rem,
    700: 2.441rem,
  ),
);
