html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  height: 100vh; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #3a4764; }
  .container .grid {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 1.25rem 5vw; }
    .container .grid .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      margin-bottom: 2rem;
      color: white; }
    .container .grid .keys {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5rem; }

.display {
  height: 14vh;
  border-radius: 10px;
  background-color: #182034;
  border-color: transparent; }

.keypad {
  height: 55vh;
  padding: 1rem 1rem;
  background-color: #232c43;
  border-radius: 10px; }
  .keypad .btn {
    flex: 1 0 20%;
    margin: 2vw;
    height: 8vh; }
    .keypad .btn.btn-num, .keypad .btn.operator {
      background-color: #eae3dc; }
    .keypad .btn.delete, .keypad .btn.reset {
      background-color: #637097;
      color: white;
      text-transform: uppercase; }
    .keypad .btn.equal {
      background-color: #d03f2f;
      color: white; }
